{% extends 'base.html' %} 
{% block content %}
<h1>Add Product</h1>

<form method="POST">
  {% csrf_token %}
  <table>
    {{ form.as_table }}
    <tr>
      <td></td>
      <td>
        <input type="submit" value="Add PRODUCT" />
      </td>
    </tr>
  </table>
</form>

<script>
  const priceInput = document.getElementById('id_price');

  if (priceInput) {
    priceInput.addEventListener('input', function() {
      if (this.value < 0) {
        this.setCustomValidity('Harga produk tidak boleh negatif.');
      } else {
        this.setCustomValidity('');
      }
    });
  }
</script>

{% endblock %}